/* COLORS */
$colorPrimary: #1c213e;
$colorSecondary: #2b335b;
$colorTertiary: #9098d8;
$colorYellow: #ffc107;

$colorBlack: #000;
$colorWhite: #fff;

/* FONTS */
$fontMerrant: "Source Sans Pro", sans-serif;
$fontCabin: "Cabin", sans-serif;
