.navbar {
  width: 100%;
  height: 100%;
  flex: 1;
  padding: 5rem 0;
  padding-left: 1rem;

  @media only screen and (max-width: 768px) {
    text-align: center;
  }
  @media only screen and (max-width: 375px) {
    padding: 3rem 0;
  }

  &__list {
    @include flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5rem;

    @media only screen and (max-width: 768px) {
      flex-direction: row;
    }
    @media only screen and (max-width: 600px) {
      flex-wrap: wrap;
    }
  }

  &__item {
    width: 100%;
    padding: 1rem 2rem;
    position: relative;
    z-index: 1;

    &:not(:last-child) {
      margin-bottom: 2rem;

      @media only screen and (max-width: 768px) {
        margin-bottom: 0;
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 2rem;
      height: 100%;
      top: 0;
      left: -10%;
      /* Review: */
      background-color: #f00;
      border-radius: 0.5rem;
      z-index: -1;
      transform: scaleY(0);
      transition: transform 0.3s cubic-bezier(0.66, -0.05, 0.31, 1.05),
        width 0.5s 0.2s cubic-bezier(0.66, -0.05, 0.31, 1.05),
        left 0.5s 0.2s cubic-bezier(0.66, -0.05, 0.31, 1.05);

      @media only screen and (max-width: 768px) {
        left: 0;
      }
    }

    &:hover::after {
      transform: scaleY(1);
      width: 105%;

      @media only screen and (max-width: 768px) {
        width: 100%;
      }
    }
    &:hover .navbar__link {
      color: $colorBlack;
      svg {
        fill: $colorBlack;
      }
    }
  }

  &__link {
    @include flex;
    color: $colorWhite;
    text-transform: capitalize;
    font-family: $fontMerrant;
    transition: all 0.3s 0.3s;

    @media only screen and (max-width: 600px) {
      @include fullFlex(space-between);
    }

    svg {
      margin-right: 1.5rem;
      height: 2rem;
      width: 2rem;
      fill: $colorWhite;
      transition: all 0.3s 0.3s;
    }
  }
}
