.recomend {
  padding: 5rem 0rem;

  &__heading {
    color: rgba($colorWhite, 0.5);

    @media only screen and (max-width: 600px) {
      text-align: center;
    }
  }

  &__content {
    @include flex;
    color: $colorWhite;

    @media only screen and (max-width: 600px) {
      flex-direction: column;
    }
    span {
      font-size: 1.1rem;
      color: rgba($colorWhite, 0.3);
    }
  }

  &__info {
    font-size: 1.6rem;
    padding-left: 5rem;
    font-family: $fontMerrant;
    font-weight: 600;
    a {
      transition: all 0.3s;
      color: #a2a5bf;
      &:not(:last-child) {
        margin-right: 1.5rem;
      }
      &:hover {
        color: $colorWhite;
      }
    }
  }

  &__years {
    padding-left: 5rem;
    padding: 5rem 0;
    border-bottom: 1px solid #d3d3d3;
    a {
      font-size: 1.3rem;
      font-family: $fontCabin;
      color: $colorWhite;
      position: relative;
      &:not(:last-child) {
        margin-right: 1.2rem;
      }

      &::after {
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: -100%;
        opacity: 0;
        background-color: #f00;
        transition: all 0.3s;
      }

      &:hover::after {
        opacity: 1;
        left: 0;
      }
    }
  }
}
