*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 10px === 1rem

  @media only screen and (max-width: 1024px) {
    font-size: 50%;
  }
}

body {
  @include fullFlex(center);
  box-sizing: border-box;
  font-size: 1.8rem;
  line-height: 1.7;
  background-color: rgba($colorPrimary, 0.7);
  min-height: 100vh;
}

#app-container {
  @include fullFlex(space-between);
  align-items: flex-start;
  min-height: 100vh;
  width: 100%;
  background-color: $colorPrimary;
  box-shadow: 0 1rem 2rem rgba($colorBlack, 0.4);
  overflow: hidden;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}

a,
a::after,
a::before {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

#section--1 {
  @include fullFlex(space-between);

  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}
