*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 10px === 1rem
}

body {
  @include fullFlex(center);
  box-sizing: border-box;
  font-size: 1.8rem;
  line-height: 1.7;
  background-color: rgba($colorPrimary, 0.7);
  min-height: 100vh;
  padding: 5rem 0;
}

#app-container {
  @include fullFlex(space-between);
  align-items: flex-start;
  min-height: 95vh;
  width: 90%;
  background-color: $colorPrimary;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba($colorBlack, 0.4);
  overflow: hidden;
}

a,
a::after,
a::before {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

#section--1 {
  @include fullFlex(space-between);
}

.content {
  height: 100%;
  width: 100%;
  flex: 2;
  align-self: flex-start;
  background-color: $colorSecondary;
  padding: 5rem;
  border-radius: 5rem 0 0 0;

  .hero {
    @include fullFlex(space-between);
    background-color: rgba($colorWhite, 0.1);
    padding: 0 2rem;
    border-radius: 1rem;
    box-sizing: 0 1rem 2rem rgba($colorBlack, 0.3);
    margin-top: 5rem;
    height: 20rem;

    &__content {
      width: 30%;
      color: $colorWhite;
    }

    &__img {
      position: relative;
      width: 70%;

      &-hero {
        height: 30rem;
        margin-top: 1rem;
        transform: scale(1.2);
      }
      &-cloud {
        position: absolute;
        top: 20%;
        left: 5%;
      }
    }
  }
}
