.heading {
  font-family: $fontCabin;
  letter-spacing: 2px;

  &-1 {
    font-size: 4rem;
  }
  &-2 {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: capitalize;
  }
  &-3 {
    font-size: 1.6rem;
    font-weight: 400;
  }
  &-4 {
    font-size: 1.6rem;

    &-sm {
      font-size: 1.3rem;
      color: red;
    }
  }
  &-5 {
    font-size: 1.3rem;
    letter-spacing: 0;
    font-weight: 400;
  }

  &-rank {
    font-weight: 700;
  }
}

.paragraph {
  font-family: $fontCabin;
  font-size: 1.4rem;
  text-align: justify;

  @media only screen and (max-width: 768px) {
    text-align: center;
  }

  &-sm {
    font-size: 1.1rem;
    text-align: left;
    @media only screen and (max-width: 375px) {
      text-align: center;
    }
  }
}

span {
  font-family: $fontCabin;
}
