.btn {
  transition: all 0.3s;
  &__primary {
    margin-top: 1.9rem;
    letter-spacing: 3px;
    padding: 0.5rem 4rem;
    border-radius: 3rem;
    background-color: $colorTertiary;
    color: $colorWhite;
    font-size: 2rem;
    text-transform: capitalize;
  }

  &:hover {
    transform: translateY(-0.5rem);
  }
}
